@page "/post-details/{postId:int}"
@using BlazorApp.Services
@using DTO
@inject IPostService PostService

<h3>Post Details</h3>

@if (post == null)
{
<p>Loading...</p>
}
else
{
<div>
    <h4>@post.Title</h4>
    <p>@post.Body</p>
    <p><strong>Author:</strong> @post.Author</p>
    <h5>Comments</h5>
    <ul>
        @foreach (var comment in post.Comments)
        {
        <li>@comment.Content</li>
        }
    </ul>
</div>
<AddComment OnCommentAdded="ReloadPost" PostId="@postId" />
}

@code {
[Parameter]
public int postId { get; set; }

private PostDto post;

protected override async Task OnInitializedAsync()
{
await LoadPost();
}

private async Task LoadPost()
{
post = await PostService.GetPostByIdAsync(postId);
}

private async Task ReloadPost()
{
await LoadPost();
}
}
